{% extends './users/base.html' %}
    
{% block contenido %}

{%include './users/slider_menu.html '%}
{% block menu_slider %}

{% endblock %}
<title>List Window</title>

<div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 mb-5">
<body>
    <h2>
        {{hello}}
    </h2>
    
    <fieldset>
        <legend>{{result}}</legend>
    <table style="font-size: 15px; text-align: center; margin: 45px; text-align: center; width: 680px; text-align: left; border-collapse: collapse;">
        <tr style="padding: 8px;     background: #b9c9fe;
        border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039;">
            <th >
                Name
            </th>
            <th >
                Last Name
            </th>
            <th>
                Username
            </th>
            <th>
                User Type
            </th>
            <th colspan="2">
                Actions
            </th>
        </tr>
        {% for userdata in info %}
        <tr>
            <td style="padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
            color: #669;    border-top: 1px solid transparent;">{{ userdata.1 }}</td>
            <td style="padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
            color: #669;    border-top: 1px solid transparent;">{{ userdata.2 }}</td>
            <td style="padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
            color: #669;    border-top: 1px solid transparent;">{{ userdata.3 }}</td>
            <td style="padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
            color: #669;    border-top: 1px solid transparent;">{{ userdata.5 }}</td>
            <td colspan="2" style="padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
            color: #669;    border-top: 1px solid transparent;">
                <p><a href="{{url_for('update',id=userdata.0) }}">Update</a> &nbsp;
            <a href="{{url_for('delete',id=userdata.0)}}" onclick="alert('Do you want to delete the current record?')">Delete</a></p></td>

        </tr>
        {% endfor %}
    </table>
    </fieldset>
    <div>
        {{error}}
    </div>
          </div>
        </div>
    </div>
    </div>
{% endblock %}