{% extends './users/base.html' %}
{%include './users/slider_menu.html '%}    

{% block contenido %}

{% block menu_slider %}

{% endblock %}

<title>Updating Data</title>
<body>
    

<div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 mb-5">

    <h2>
        {{hello}}
    </h2>
    
    <fieldset>
        
        <table style="width: 800px; border-bottom: solid 2px black;" >
            <tr><td>
    <form action="/update_action/{{info.0}}" method="post">
        <p>
        <label for="">User Name:</label>
        <input type="text" name="name_user" id="" value="{{info.1}}">
        </p>
        <p>
        <label for="">Last Name</label>
        <input type="text" name="last_user" id="" value="{{info.2}}">
        </p>
        <p>
        <label for="">User</label>
        <input type="text" name="user" id="" value="{{info.3}}">
</p>
    <p>
        <label for="">User Type</label>
       <select name="type_user" >
<option value="{{info.5}}">{{info.5}}</option>
<option value="guest">guest</option>
<option value="administrator">administrator</option>
<option value="sales">sales</option>

       </select>
    
    </p>
        
        <button type="submit" class="btn btn-primary">Update Data</button>
    </form>
</td></tr>
</table>
</fieldset>
</div> 
</div> 
</div> 
</div> 
</body>
{% endblock %}